html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
  transition: color 0.2s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --background-color: #0b1d26;
  --text: #ffffff;
  --accent-text: #fbd784;
}

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  background-color: var(--background-color);
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;

  color: var(--text);
}

/* Base */
.container {
  width: 1200px;
  padding: 15px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1410px;
  padding: 15px;
  margin: 0 auto;
}

/* header - DESCKTOP */

.header {
  margin-bottom: 200px;
  padding-top: 64px;
}

.logo {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.header-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-list__item {
  transition: border-bottom 0.2s ease-in;
}

.header-list__item:not(:last-child) {
  margin-right: 40px;
}

.header-list__link:hover,
.header-list__link:active,
.header-list__link:focus {
  color: var(--accent-text);
  border-bottom: 2px solid var(--accent-text);
}

.account {
  fill: var(--text);
  transition: color 0.2s ease, fill 0.2s ease, border-bottom 0.2s ease;
}

.account:hover,
.account:focus,
.account:active {
  fill: var(--accent-text);
}

/* HERO */

.hero {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 340px;
  max-width: 900px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-activ {
  transition: transform 0.2s ease-in;
}

.hero-activ:focus,
.hero-activ:active,
.hero-activ:hover {
  transform: translateY(-5%);
}

.hero-desc {
  position: relative;
  margin-bottom: 32px;
  padding-left: 104px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 6px;
  text-transform: uppercase;

  color: var(--accent-text);
}

.hero-desc::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";

  width: 72px;
  height: 2px;
  background-color: var(--accent-text);
}

.hero-titel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 80px;
  line-height: 1.13;

  text-transform: capitalize;

  color: var(--text);
}

.hero-link {
  display: inline-block;
  position: relative;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  align-items: center;

  color: var(--text);

  display: block;
  width: 100%;
  height: 100%;
  line-height: 10px;
  position: relative;
}

.hero-link:hover {
  fill: var(--accent-text);
}

.hero-svg {
  display: inline-flex;
  align-items: center;
  fill: var(--accent-text);
}

.hero-svg__activ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-svg__rect {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: transparent;
  stroke-width: 5px;
  stroke-dasharray: 10px 110px 20px 10px 20px 110px 20px 10px 10px;
  transition: 0.5s all;
}

.hero-wrapper {
  width: 130px;
  height: 35px;
  align-items: baseline;
}

.hero-link:hover .hero-svg__rect {
  stroke: var(--accent-text);
  stroke-dasharray: 130px 0 30px 0 130px 0 30px 0;
}

/* section */

.section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  margin-bottom: 100px;
}

.flex:nth-child(even) {
  flex-direction: row-reverse;
  background-color: violet;
}

.section-box {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 682px;
}

.section-box::before {
  position: absolute;

  left: 0;
  top: 0;
  transform: translate(-45%, -60%);
  display: block;
  content: "01";

  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 1;

  color: var(--text);

  opacity: 0.2;
}

.section-title {
  margin-bottom: 30px;
  position: relative;
  padding-left: 104px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 6px;
  text-transform: uppercase;

  color: var(--accent-text);
}

.section-title::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";

  width: 72px;
  height: 2px;
  background-color: var(--accent-text);
}

.section-subject {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 1.2;

  color: var(--text);
}

.section-text {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.78;

  color: var(--text);
}

.section-link {
  font-size: 18px;
  line-height: 1.22;

  color: var(--accent-text);
}

.section-img {
  display: inline-flex;
  width: 566px;
  height: 720px;
}
